<div class="container">
  <ul class="recipe_list">
    <% if @recipes.empty? %>
      <li>No recipes yet. Why not <%= link_to 'add one'%>?</li>
    <% end %>
    
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card', recipe: recipe %>
    <% end %>
  </ul>
</div>