<div class="container">
  <ul class="list-unstyled">
    <% if @recipes.empty? %>
      <li class="text-center">No public recipes yet. Why not <%= link_to 'add one', new_recipe_path %>?</li>
    <% end %>
    
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card', recipe: recipe %>
    <% end %>
  </ul>
</div>